<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/8fb7fe186b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="mainApp">
  <div class="SideBar">
    <div class="WebTitle"><h1>Co2Games</h1></div>
    <div class='sideItems'>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-house"></i></div>
        <div><p>Home</p></div>
      </div>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-window-restore"></i></i></div>
        <div><p>Categories</p></div>
      </div>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-bolt"></i></i></div>
        <div><p>New </p></div>
      </div>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-star"></i></div>
        <div><p>Points shop</p></div>
      </div>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-inbox"></i></i></div>
        <div><p>News</p></div>
      </div>
      <div class="sideLabel">
        <div class="SideLabelIcon"><i class="fa-solid fa-flask-vial"></i></div>
        <div><p>Laboratory</p></div>
      </div>
    </div>
  </div>
      <div class='home'>
      	<h1>Categories</h1>
      </div>
</div>
</body>
</html>